DB_HOST=pg-25f1b0f9-mh-crypto.i.aivencloud.com
DB_PORT=17079
DB_NAME=defaultdb
DB_USER=avnadmin
DB_PASSWORD=REPLACE_WITH_PASSWORD
DB_SSLMODE=require
MONGODB_URI=mongodb://localhost:27017
MONGODB_DATABASE=trading_api